.qmake.stash
Makefile
*.o
*.user
libsimLua.1.0.0.dylib
libsimLua.1.0.dylib
libsimLua.1.dylib
libsimLua.dylib
libsimLua.so
libsimLua.so.1
libsimLua.so.1.0
libsimLua.so.1.0.0
Makefile.Debug
Makefile.Release
debug/
release/
